.section-steps {
    background-color: #f4f4f4;
}

.step-box
{
    margin-top:30px;
}

.step-box:first-child
{
    text-align: right;
    padding-right: 3%;
    margin-top:30px;
}

.step-box:last-child
    {
        padding-left: 3%;
        margin-top:70px;
    }

.app-screen {
    width: 40%;
}


.work-step
{
    margin-bottom: 50px;
    
}
.work-step:last-of-type
{
    margin-bottom: 80px;
}
.work-step p
{
    padding-left: 10px;
}
.work-step div
{
    border: 2px solid #e67e22;
    color: #e67e22; 
    border-radius: 50%;
    height: 55px;
    width:55px;
    text-align: center;
    float:left;
    padding: 5px;
    font-size: 150%;
    margin-right: 25px;


}

.step-box a img
{
margin-top: 8px;
height: 50px;
margin-right: 15px;
}


