.section-testimonials{
   /* The image used */
   background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), 
                                    url(../../assets/images/back-customers.jpg);
   /* Set a specific height */

    color: #fff;
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-size: cover;

}

blockquote
{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
}

blockquote:before
{
    content: "\201C";
    font-size: 400%;
    display: block;
    position: absolute;
    top:-5px;
    left: -3px;
}


cite {
    font-size: 90%;
    margin-top:25px;
    display: block;
}

cite img
{
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

