
h2
{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}
h2:after
{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin:0 auto;
    margin-top: 30px;
}
h3
{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 110%;
    margin-bottom: 15px;
}
.long-copy
{
    line-height: 145%;
    width:70%;
    margin-left: 15%;
    margin-bottom: 40px;

}

.box
{
    padding : 1%;
}

.box p {
 font-size: 90%;
 line-height: 145%;
 margin-top: 15px;
}

.box i
{
font-size: 350%;
display: block;
color: #e67e22;
margin-bottom: 10px;
}

